// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@font-face { 
 font-family: "Gloria Hallelujah"; 
 src: url("fonts/GloriaHallelujah.ttf") format('truetype'); 
}

@mixin screbo {
  @include valo;

  // Insert your own theme rules here
  
  $primaryColor : #7a1a26;
  $primaryColorLight : #A3666E;
  $primaryColorDark : #783647;
  $secondaryColor : #73878a;
  $secondaryColorDark: #343C3D;
  $btnFontColor: #fff;

  .v-button:focus::after {
    border-color: #fff;
    box-shadow: 0 0 0 0px rgba(25, 125, 225, 0.5);
  }
  
  .v-textfield:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-datefield [class*="textfield"]:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-textarea:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-filterselect [class*="input"]:focus {
  	border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-datefield-popup {
  	width: auto !important;
  }
  
  .v-label, .v-captiontext, .v-window-outerheader {
  	color: $primaryColor;
  	font: 15px cursive,serif;
  }
  
  .v-window-header {
  	color: $primaryColor;
  }
  
  .popupContent .v-button {
    width: 100%;
    height: 32px;
    margin: 4px 0;
  }
  
  .LoginView {
  	background: transparent url("images/screbo_bg.png") no-repeat scroll 0 0 / 100% 100%;
  }
  
  .LoginView .login_panel {
  	position: absolute;
  	top: 25%;
  	left:14%;
  }
  
  .LoginView .login_panel .v-textfield {
    width: 250px;
  }
  
  .ScreboLoginForm .loginButton {
    margin-top:20px;
  }
  
  .LandingPageView {
    background: transparent url("images/screbo_bg.png") no-repeat scroll 0 0 / 100% 100%;
  }
  
  .LandingPageView .welcomeLbl {
  	position: absolute;
  	top: 35%;
  	left:5%;
  	text-align: center;
    white-space: pre;
    font: 20px cursive,serif;
  }
  
  .LandingPageView .userInfo, .boardInfo {
    background: #eaeaea none repeat scroll 0 0;
    border: 1pt solid #aaaaaa;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 50px;
    white-space: normal;
    width: 170px;
  }
  
  .LandingPageView .layerPointerInfo, .layerPointerBoard {
    background: #eaeaea none repeat scroll 0 0;
    border-left: 1pt solid #aaaaaa;
    border-top: 1pt solid #aaaaaa;
    height: 20px;
    position: absolute;
    top: 40px;
    transform: rotateZ(45deg);
    width: 20px;
  }
  
  .LandingPageView .layerPointerInfo {
    left: 70px;
  }
  
  .LandingPageView .layerPointerBoard {
    right: 70px;
  }
  
  .LandingPageView .boardInfo {
  	left: 5px;
  }
  
  .LandingPageView .userInfo {
  	right: 5px;
  }
  
  .topBar {
    width: 100%;
    background: $primaryColor;
//	background: url("images/logo.gif") no-repeat scroll 20px 8px / 220px auto, url("images/slogan.gif") no-repeat scroll 300px 20px / 730px auto, -moz-linear-gradient(45deg,  #b75461 1%, $primaryColor 32%, #44010b 100%);
//	background: url("images/logo.gif") no-repeat scroll 20px 8px / 220px auto, url("images/slogan.gif") no-repeat scroll 300px 20px / 730px auto, -webkit-linear-gradient(45deg,  #b75461 1%,$primaryColor 32%,#44010b 100%);
//	background: url("images/logo.gif") no-repeat scroll 20px 8px / 220px auto, url("images/slogan.gif") no-repeat scroll 300px 20px / 730px auto, linear-gradient(45deg,  #b75461 1%,$primaryColor 32%,#44010b 100%);
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b75461', endColorstr='#44010b',GradientType=1 );
  }
  
  .topBar .v-button {
    margin-left: 4px;
    margin-right: 4px;
  	height: 30px;
  	background: $primaryColor;
  	color: $btnFontColor;
  	border-color: $primaryColor;
  	box-shadow: none;
  	border-radius: 5px;
  }
  
  .topBar .v-button:hover {
  	background: $primaryColorLight;
  	border-color: $primaryColorLight;
  }

  .topBar .v-button:active {
  	background: #C49188;
  }
  
  .topBar .v-button:focus:after {
  	content: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .topBar .logo {
  	color: white;
  }
  
  .RetrospectiveView .catTitleLabel {
   margin: 40px 0 10px 0;
   color: $primaryColor;
   font: 25px cursive,serif;
  }
  
  .RetrospectiveView .v-slot-boardArea {
    border-right: 5px solid $primaryColor;
  }
  
  .RetrospectiveView .v-slot-activityArea {
    border-left: 5px solid $primaryColor;
  }
 
  .RetrospectiveView .activityArea .v-textarea {
    resize: vertical !important;
    margin-bottom: 20px !important;
  }
  
  .RetrospectiveView .boardArea {
  	padding: 20px;
  }
  
  .RetrospectiveView .boardLayout {
  	margin: auto;
  	display: table;
  }
  
  .RetrospectiveView .activityArea {
  	padding: 20px 35px 20px 20px;
  }
  
  .RetrospectiveView .BoardBtn {
  	width: 100%;
  	border: none;
  	background: $primaryColorLight;
  	color: $btnFontColor;
  }
  
  .RetrospectiveView .BoardBtn:hover {
  	background: $primaryColor;
  }
  
  .RetrospectiveView .boardInput {
  	width: 100%;
  	margin-bottom: 20px !important;
  }
  
  .RetrospectiveView .addSaveBtn {
  	background: transparent url("images/disk.svg") no-repeat scroll 0 0 / 32px auto;
    border: medium none;
    float: right;
    height: 32px;
    margin-bottom: 20px;
    width: 32px;
  }
  
  .RetrospectiveView .addSaveBtn:hover {
  	background: transparent url("images/diskHover.svg") no-repeat scroll 0 0 / 32px auto;
  }

  .RetrospectiveView .retroItemGuiElement {
  	background:#fefabc; 
	padding:15px; 
	font-family: 'Gloria Hallelujah', cursive; 
	font-size:15px; 
	color: #000;
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
  }
  
  .RetrospectiveView .PostArea {
  	text-align: center;
  	margin-top: 20px;
  	margin-bottom: 20px;
  	margin-left: 5px;
  	margin-right: 5px;
  }
  
  .RetrospectiveView .ClusterGuiElement {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .retrospectiveSelectionWindow .popupContent {
  	padding: 20px;
  }
    
  .retrospectiveSelectionWindow {
  	max-height: calc(100% - 80px);
  	overflow: auto !important;
  }
  
  .retrospectiveSelectionWindow .openRetrospectiveButton {
    height: 32px;
    background: $primaryColorLight;
  	border-color: $primaryColorLight;
  	color: white;
  	box-shadow: none;
  	margin: 4px 0;
  	border-radius: 5px;
  }
  
  .retrospectiveSelectionWindow .openRetrospectiveButton:hover {
  	background: $primaryColor;
  	border-color: $primaryColor;
  }
  
  .retrospectiveSelectionWindow .v-button {
  	width: 253px;
  }

  .retrospectiveSelectionWindow .v-button-openRetrospectiveButton:active {
  	background: #C49188;
  }
  
  .retrospectiveSelectionWindow .v-button-openRetrospectiveButton:focus:after {
  	content: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .retrospectiveSelectionWindow .currentRetrospectiveLine {
  	margin: 4px;
  }
  
  .retrospectiveSelectionWindow .currentRetrospectiveLabel {
  	width: 60px;
  	margin-left: 4px;
  }
  
  .retrospectiveSelectionWindow .v-button-currentRetrospectiveButton {
  	margin-left: 70px;
  	width: 184px;
  	padding: 0;
  }
  
  .retrospectiveSelectionWindow .sectionLabel {
  	margin-top: 12px;
  	margin-bottom: 4px;
  	font-size: 17px;
  	width: 90%;
  }
  
  .CreateRetrospectiveWindow .v-window-contents .v-slot {
    margin: 0 2px;
  }
  
  .EditRetroItemWindow .v-window-contents .v-slot {
    margin: 0 2px;
  }
  
  .EditRetroItemWindow .v-window-contents .v-button {
    margin: 15px 2px 0 0;
    width: 80px;
  }

}