// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin screbo {
  @include valo;

  // Insert your own theme rules here
  
  $primaryColor : #7a1a26;
  $primaryColorLight : rgba(122, 26, 38, 0.7);
  $primaryColorDark : #783647;
  $secondaryColor : #73878a;
  $secondaryColorDark: #343C3D;
  $btnFontColor: #fff;

  .v-button:focus::after {
    border-color: #fff;
    box-shadow: 0 0 0 0px rgba(25, 125, 225, 0.5);
  }
  
  .v-textfield:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-datefield [class*="textfield"]:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-textarea:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-filterselect [class*="input"]:focus {
  	border-color: $primaryColor;
    box-shadow: 0 0 0 2px $primaryColorLight;
  }
  
  .v-datefield-popup {
  	width: auto !important;
  }
  
  .catLabel {
   margin-top: 20px;
  }
  
  .display_on {
  
  }
  
  .display_off {
  
  }  
  
  .loginUserName {
    width: 200px;
  }
  
  .loginPassword {
    width: 200px;
  }
  
  .loginButton {
    margin-top:20px;
  }
  
  .topBar {
    width: 100%;
    background: #b75461;
//	background: url("images/logo.gif") no-repeat scroll 20px 8px / 220px auto, url("images/slogan.gif") no-repeat scroll 300px 20px / 730px auto, -moz-linear-gradient(45deg,  #b75461 1%, $primaryColor 32%, #44010b 100%);
//	background: url("images/logo.gif") no-repeat scroll 20px 8px / 220px auto, url("images/slogan.gif") no-repeat scroll 300px 20px / 730px auto, -webkit-linear-gradient(45deg,  #b75461 1%,$primaryColor 32%,#44010b 100%);
//	background: url("images/logo.gif") no-repeat scroll 20px 8px / 220px auto, url("images/slogan.gif") no-repeat scroll 300px 20px / 730px auto, linear-gradient(45deg,  #b75461 1%,$primaryColor 32%,#44010b 100%);
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b75461', endColorstr='#44010b',GradientType=1 );
  }
  
  .topBar .v-button {
    margin-left: 4px;
    margin-right: 4px;
  	height: 30px;
  	background: #B37266;
  	border-color: #B37266;
  	color: white;
  	box-shadow: none;
  }
  
  .topBar .v-button:hover {
  	background: #B37266;
  }

  .topBar .v-button:active {
  	background: #C49188;
  }
  
  .topBar .v-button:focus:after {
  	content: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .topBar .logo {
  	color: white;
  }
  
  .v-slot-boardArea {
    border-right: 5px solid $primaryColor;
  }
  
  .v-slot-cat1Area, .v-slot-cat2Area, .v-slot-cat3Area, .v-slot-cat4Area {
    border-right: 2px solid $primaryColor;
  }
  
  .v-slot-activityArea {
    border-left: 5px solid $primaryColor;
  }
 
  .v-textarea {
    resize: vertical !important;
    margin-bottom: 20px !important;
  }
  
  .addRetroItemBtn {
  	background: transparent url("images/addPost.svg") no-repeat scroll 0 0 / 40px auto;
    border: medium none;
    border-radius: 20px;
    box-shadow: none;
    font-weight: 900;
    height: 40px;
    margin-top: 15px;
    padding: 7px 15px;
    width: 40px;
  }
  
  .cat1Label {
  	background: transparent url("images/liked.gif") no-repeat scroll 0 5px / 96px auto;
    height: 40px;
    width: 96px;
  }
  
  .cat2Label {
  	background: transparent url("images/learned.gif") no-repeat scroll 0 5px / 160px auto;
    height: 40px;
    width: 160px;
  }
  
  .cat3Label {
  	background: transparent url("images/lacked.gif") no-repeat scroll 0 5px / 135px auto;
    height: 40px;
    width: 135px;
  }
  
  .cat4Label {
  	background: transparent url("images/longedfor.gif") no-repeat scroll 0 5px / 220px auto;
    height: 40px;
    width: 220px;
  }
  
  .boardArea {
  	padding: 20px;
  }
  
  .activityArea {
  	padding: 20px 35px 20px 20px;
  }
  
  .BoardBtn {
  	width: 100%;
  	border: none;
  	background: $primaryColorLight;
  	color: $btnFontColor;
  }
  
  .boardInput {
  	width: 100%;
  	margin-bottom: 20px !important;
  }
  
  .boardLbl {
  	color: $primaryColor;
  	font: 15px cursive,serif;
  }
  
  .addSaveBtn {
  	background: transparent url("images/disk.svg") no-repeat scroll 0 0 / 32px auto;
    border: medium none;
    float: right;
    height: 32px;
    margin-bottom: 20px;
    width: 32px;
  }
  
  .addSaveBtn:hover {
  	background: transparent url("images/diskHover.svg") no-repeat scroll 0 0 / 32px auto;
  }
  
  .addRetroItemBtn:hover {
  	background: transparent url("images/addPostHover.svg") no-repeat scroll 0 0 / 40px auto;
  }
  
  .BoardBtn:hover {
  	background: $primaryColor;
  }
  
  .ddWrapperCat1Post, .ddWrapperCat2Post, ddWrapperCat3Post, ddWrapperCat4Post {
  	z-index: 99;
  }
  
  .ddWrapperCat1PostAlone, .ddWrapperCat2PostAlone {
  	z-index: 999;
  }
  
  .posting {
  	width: 240px;
  	text-align: center;
  	margin-top: 5px;
  	color: #fff;
  	background: #b75461;
	background: -moz-linear-gradient(45deg,  #b75461 1%, $primaryColor 32%, #44010b 100%);
	background: -webkit-linear-gradient(45deg,  #b75461 1%,$primaryColor 32%,#44010b 100%);
	background: linear-gradient(45deg,  #b75461 1%,$primaryColor 32%,#44010b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b75461', endColorstr='#44010b',GradientType=1 );
  }
  
  .PostArea {
  	min-height: 400px;
  	text-align: center;
  	margin-top: 20px;
  }
  
  .cluster_marker {
  	background-color: #aaa;
    padding: 5px;
  }
  
  .retrospectiveSelectionWindow {
  	padding: 5px;
  }
  
  .retrospectiveSelectionWindow .v-button {
	margin: 4px;
	width: 260px;
  	height: 30px;
  }
  
  .retrospectiveSelectionWindow .v-button-openRetrospectiveButton {
    background: #B37266;
  	border-color: #B37266;
  	color: white;
  	box-shadow: none;
  }
    
  .retrospectiveSelectionWindow .v-button-openRetrospectiveButton:hover {
  	background: #B37266;
  }

  .retrospectiveSelectionWindow .v-button-openRetrospectiveButton:active {
  	background: #C49188;
  }
  
  .retrospectiveSelectionWindow .v-button-openRetrospectiveButton:focus:after {
  	content: none;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}